<?xml version="1.0" encoding="UTF-8"?><Profil Name="Full Back">
	<General>
		<Source_Image>Empty_exemple.png</Source_Image>
		<Target_Image>Full_exemple.png</Target_Image>
		<Target_Width>1280</Target_Width>
		<Target_Height>1024</Target_Height>
	</General>
	<pngquant>
		<use>Yes</use>
		<parameter>--force --verbose --ordered --speed=1 --quality=50-90 --ext .png</parameter>
	</pngquant>
	<Root>
		<Source_Value>Data</Source_Value>
		<Target_Value>gameList</Target_Value>
	</Root>
	<Game>
		<Source_Value>Data/jeu</Source_Value>
		<Target_Value>gameList/game</Target_Value>
	</Game>
	<Country>
		<Source_Value>Data/jeu/region</Source_Value>
	</Country>
	<Element>
		<Name>FondFixeTEMP</Name>
		<Source_Type>Fixe_Value</Source_Type>
		<Source_Value>Black.jpg</Source_Value>
		<Target_Width>%1</Target_Width>
		<Target_Height>%1</Target_Height>
		<Target_TopLeftX>CENTER</Target_TopLeftX> 
		<Target_TopLeftY>CENTER</Target_TopLeftY> 
	</Element>
	<Element>
		<Name>fanartTEMP</Name>
		<Source_Type>XML_Value</Source_Type>
		<source_Origin>Game</source_Origin>
		<Source_Value>Data/jeu/medias/media_fanart</Source_Value>
		<Target_Width>%1</Target_Width>
		<Target_Height></Target_Height>
		<Target_TopLeftX>CENTER</Target_TopLeftX> 
		<Target_TopLeftY>CENTER</Target_TopLeftY> 
	</Element>
	<Element>
		<Name>fanartTransTEMP</Name>
		<Source_Type>GDI_Function</Source_Type>
		<Source_Function>Transparency</Source_Function>
		<Source_Value>0.85</Source_Value>
	</Element>
	
	$MIX_IMG4_SOURCE_1	= 'fanartTEMP|SystMAX|medias/media_photos/media_photo_%%|path:image|%1|%1|CENTER|CENTER'
	<Element>
		<Name>fanartTEMP</Name>
		<Source_Type>XML_Value</Source_Type>
		<source_Origin>Sytem</source_Origin>
		
		<Source_Value>Data/jeu/medias/media_photos/media_photo_%%</Source_Value>
		<Target_Width>%1</Target_Width>
		<Target_Height></Target_Height>
		<Target_TopLeftX>CENTER</Target_TopLeftX> 
		<Target_TopLeftY>CENTER</Target_TopLeftY> 
	</Element>


</Profil>